body {
	background-color: linen;
	background-image: linear-gradient(to bottom, #3f87a6, #ebf8e1, #f69d3c);
	background: url(https://images.assetsdelivery.com/thumbnails/asyabik/asyabik1707/asyabik170700094.jpg) right bottom no-repeat;
	background-size: cover;
	max-width: 90%;
	margin: auto;
}
p {
	color: #293133;
	font-family: serif;
	margin: auto;
	front-size : 100%;
	text-indent: 10px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
blockquote {
	max-width: 45%;
	margin: auto;
	font-size: 160%;
	background-color: #c0c0c0;
	border-left: 3px solid;
	border-color: firebrick;
	padding: 80px 30px 80px 30px;
/*top-right-bottom-left*/
}

h1{
	color: #293133;
}
